body {
  font-family: "Karla", sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: lightgray;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

span,
h2 {
  color: lightgray;
}
