.info-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .logo {
    height: fit-content;
    width: fit-content;
    align-self: center;
    margin-bottom: 50px;
  }
  .text {
    text-align: center;

    .little-text {
      font-size: x-large;
      color: lightgrey;
    }
    .collections {
      font-size: xx-large;
    }
  }

  @media screen and (max-width: 800px) {
    width: 90vw;
    margin: 0px 2px;

    .check-collections {
      display: none;
    }
  }
}
